<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key>
    <string>food</string>

    <key>Username</key>
    <string>mobile</string>

    <key>ProgramArguments</key>
    <array>
        <string>/var/mobile/frash/food_wrapper</string>
        <string>/var/mobile/frash/food</string>
        <string>inetd</string>
    </array>

    <key>Sockets</key>
    <dict>
        <key>Listeners</key>
        <dict>
            <key>SockServiceName</key>
            <string>4242</string>
        </dict>
    </dict>

    <key>EnableTransactions</key>
    <true/> <!-- heh heh -->
</dict>

</plist>
