Package: frash
Architecture: iphoneos-arm 
Name: frash
Version: 0.02
Priority: optional
Depends: gsc.armv7
Description: All your base are belong to us?
Homepage: http://github.com/comex/frash
Maintainer: comex <comexk@gmail.com>
Section: Utilities

